<h1>Todos:</h1>

<ul class="todos">
	<% @todos.each do |todo| %>
		<li class="<%= "completed" if todo.completed? %>">
			<%= todo.title %> -

			<% if todo.completed? %>
				<%= button_to "Mark incomplete", todo_completion_path(todo), method: "delete" %>
			<% else %>
				<%= button_to "Complete", todo_completion_path(todo) %>
			<% end %>

		</li>
	<% end %>
</ul>


<%= link_to "Add a new todo", new_todo_path %>
